<main>
    
    <!-- Main Container -->
    <div class="container">

        <section class="section terms">

            <div class="row">
                
                <div class="col-md-12">
                    
                    <h1 class="section-heading">Frequently Asked Questions</h1>
                    
                    <!--Accordion wrapper-->
                    <div class="accordion" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="card">
                            <div class="card-header" role="tab" id="headingOne">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                    <h5 class="mb-0">
                                    Lorem ipsum dolor sit amet #1 <i class="fa fa-angle-down rotate-icon"></i>
                                </h5>
                                </a>
                            </div>
                            <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne">
                                <div class="card-block">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris fringilla, turpis vitae laoreet egestas, purus libero dictum mauris, non euismod turpis massa sit amet purus. In hac habitasse platea dictumst. Nulla et gravida ipsum. Suspendisse potenti. Phasellus at lobortis felis, id tincidunt odio. Quisque iaculis nisl pellentesque lacinia vehicula. Cras eget augue ac augue aliquet eleifend a et turpis. Nullam vel vulputate leo, scelerisque dignissim orci. Morbi quis sapien euismod sem rutrum efficitur sed vitae lacus. Aliquam ac convallis lorem.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" role="tab" id="headingTwo">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    <h5 class="mb-0">
                                    Lorem ipsum dolor sit amet #2 <i class="fa fa-angle-down rotate-icon"></i>
                                </h5>
                                </a>
                            </div>
                            <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
                                <div class="card-block">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris fringilla, turpis vitae laoreet egestas, purus libero dictum mauris, non euismod turpis massa sit amet purus. In hac habitasse platea dictumst. Nulla et gravida ipsum. Suspendisse potenti. Phasellus at lobortis felis, id tincidunt odio. Quisque iaculis nisl pellentesque lacinia vehicula. Cras eget augue ac augue aliquet eleifend a et turpis. Nullam vel vulputate leo, scelerisque dignissim orci. Morbi quis sapien euismod sem rutrum efficitur sed vitae lacus. Aliquam ac convallis lorem.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" role="tab" id="headingThree">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    <h5 class="mb-0">
                                    Lorem ipsum dolor sit amet #3 <i class="fa fa-angle-down rotate-icon"></i>
                                </h5>
                                </a>
                            </div>
                            <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
                                <div class="card-block">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris fringilla, turpis vitae laoreet egestas, purus libero dictum mauris, non euismod turpis massa sit amet purus. In hac habitasse platea dictumst. Nulla et gravida ipsum. Suspendisse potenti. Phasellus at lobortis felis, id tincidunt odio. Quisque iaculis nisl pellentesque lacinia vehicula. Cras eget augue ac augue aliquet eleifend a et turpis. Nullam vel vulputate leo, scelerisque dignissim orci. Morbi quis sapien euismod sem rutrum efficitur sed vitae lacus. Aliquam ac convallis lorem.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" role="tab" id="headingFour">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                    <h5 class="mb-0">
                                    Lorem ipsum dolor sit amet #4 <i class="fa fa-angle-down rotate-icon"></i>
                                </h5>
                                </a>
                            </div>
                            <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour">
                                <div class="card-block">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris fringilla, turpis vitae laoreet egestas, purus libero dictum mauris, non euismod turpis massa sit amet purus. In hac habitasse platea dictumst. Nulla et gravida ipsum. Suspendisse potenti. Phasellus at lobortis felis, id tincidunt odio. Quisque iaculis nisl pellentesque lacinia vehicula. Cras eget augue ac augue aliquet eleifend a et turpis. Nullam vel vulputate leo, scelerisque dignissim orci. Morbi quis sapien euismod sem rutrum efficitur sed vitae lacus. Aliquam ac convallis lorem.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" role="tab" id="headingFive">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                    <h5 class="mb-0">
                                    Lorem ipsum dolor sit amet #5 <i class="fa fa-angle-down rotate-icon"></i>
                                </h5>
                                </a>
                            </div>
                            <div id="collapseFive" class="collapse" role="tabpanel" aria-labelledby="headingFive">
                                <div class="card-block">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris fringilla, turpis vitae laoreet egestas, purus libero dictum mauris, non euismod turpis massa sit amet purus. In hac habitasse platea dictumst. Nulla et gravida ipsum. Suspendisse potenti. Phasellus at lobortis felis, id tincidunt odio. Quisque iaculis nisl pellentesque lacinia vehicula. Cras eget augue ac augue aliquet eleifend a et turpis. Nullam vel vulputate leo, scelerisque dignissim orci. Morbi quis sapien euismod sem rutrum efficitur sed vitae lacus. Aliquam ac convallis lorem.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" role="tab" id="heading">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                    <h5 class="mb-0">
                                    Lorem ipsum dolor sit amet #6 <i class="fa fa-angle-down rotate-icon"></i>
                                </h5>
                                </a>
                            </div>
                            <div id="collapseSix" class="collapse" role="tabpanel" aria-labelledby="headingSix">
                                <div class="card-block">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris fringilla, turpis vitae laoreet egestas, purus libero dictum mauris, non euismod turpis massa sit amet purus. In hac habitasse platea dictumst. Nulla et gravida ipsum. Suspendisse potenti. Phasellus at lobortis felis, id tincidunt odio. Quisque iaculis nisl pellentesque lacinia vehicula. Cras eget augue ac augue aliquet eleifend a et turpis. Nullam vel vulputate leo, scelerisque dignissim orci. Morbi quis sapien euismod sem rutrum efficitur sed vitae lacus. Aliquam ac convallis lorem.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" role="tab" id="heading">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                                    <h5 class="mb-0">
                                    Lorem ipsum dolor sit amet #7 <i class="fa fa-angle-down rotate-icon"></i>
                                </h5>
                                </a>
                            </div>
                            <div id="collapseSeven" class="collapse" role="tabpanel" aria-labelledby="headingSeven">
                                <div class="card-block">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris fringilla, turpis vitae laoreet egestas, purus libero dictum mauris, non euismod turpis massa sit amet purus. In hac habitasse platea dictumst. Nulla et gravida ipsum. Suspendisse potenti. Phasellus at lobortis felis, id tincidunt odio. Quisque iaculis nisl pellentesque lacinia vehicula. Cras eget augue ac augue aliquet eleifend a et turpis. Nullam vel vulputate leo, scelerisque dignissim orci. Morbi quis sapien euismod sem rutrum efficitur sed vitae lacus. Aliquam ac convallis lorem.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" role="tab" id="heading">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                                    <h5 class="mb-0">
                                    Lorem ipsum dolor sit amet #8 <i class="fa fa-angle-down rotate-icon"></i>
                                </h5>
                                </a>
                            </div>
                            <div id="collapseEight" class="collapse" role="tabpanel" aria-labelledby="headingEight">
                                <div class="card-block">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris fringilla, turpis vitae laoreet egestas, purus libero dictum mauris, non euismod turpis massa sit amet purus. In hac habitasse platea dictumst. Nulla et gravida ipsum. Suspendisse potenti. Phasellus at lobortis felis, id tincidunt odio. Quisque iaculis nisl pellentesque lacinia vehicula. Cras eget augue ac augue aliquet eleifend a et turpis. Nullam vel vulputate leo, scelerisque dignissim orci. Morbi quis sapien euismod sem rutrum efficitur sed vitae lacus. Aliquam ac convallis lorem.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" role="tab" id="heading">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                                    <h5 class="mb-0">
                                    Lorem ipsum dolor sit amet #9 <i class="fa fa-angle-down rotate-icon"></i>
                                </h5>
                                </a>
                            </div>
                            <div id="collapseNine" class="collapse" role="tabpanel" aria-labelledby="headingNine">
                                <div class="card-block">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris fringilla, turpis vitae laoreet egestas, purus libero dictum mauris, non euismod turpis massa sit amet purus. In hac habitasse platea dictumst. Nulla et gravida ipsum. Suspendisse potenti. Phasellus at lobortis felis, id tincidunt odio. Quisque iaculis nisl pellentesque lacinia vehicula. Cras eget augue ac augue aliquet eleifend a et turpis. Nullam vel vulputate leo, scelerisque dignissim orci. Morbi quis sapien euismod sem rutrum efficitur sed vitae lacus. Aliquam ac convallis lorem.
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--/.Accordion wrapper-->

                </div>
                
            </div>
            <!-- /.Content -->

        </section>

    </div>
    <!-- /.Main Container -->
    
</main>