<div class="sticky">

  <h3><strong>Категорії</strong></h3>
  <div class="divider"></div>

  <ul>
      <li>
          <input type="checkbox" id="checkbox1">
          <label for="checkbox1">Massive hemorhage</label>
      </li>

      <li>
          <input type="checkbox" id="checkbox2">
          <label for="checkbox2">Airways</label>
      </li>

      <li>
          <input type="checkbox" id="checkbox3">
          <label for="checkbox3">Respiration</label>
      </li>

      <li>
          <input type="checkbox" id="checkbox4">
          <label for="checkbox4">Circulation</label>
      </li>

      <li>
          <input type="checkbox" id="checkbox5">
          <label for="checkbox5">Head trauma/hypotermia</label>
      </li>
  </ul>
</div>                    
