<main>
    <div class="container">

      <!-- Contact Information -->
      <section class="section">
          
          <!-- Contact Description -->
          <div class="row">
              <div class="col-md-12">
                  <h1 class="section-heading">Наші контакти</h1>
                  <div class="section-description">
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, error amet numquam iure provident voluptate esse quasi, veritatis totam voluptas nostrum quisquam eum porro a pariatur accusamus veniam. Quia, minima?
                  </div>
              </div>
          </div>
          <!-- /.Contact Description -->
          
          <!-- Adress Information -->    
          <div class="row">
              
              <!-- First Col -->
              <div class="col-lg-4 col-md-4 text-center">
                  
                  <!-- Adress -->
                  <h2><strong>Головний офіс</strong></h2>
                  <i class="fa fa-map-marker fa-2x pt-2"></i> <p>вул. Бориса Грінчека 1, Київ 01001, Україна</p>

                  <i class="fa fa-phone fa-2x pt-1"></i> <p>+ 01 234 567 89</p>

                  <i class="fa fa-envelope fa-2x pt-1"></i> <p>bmanzhos@gmail.com</p>

              </div>
              <!-- /.First Col -->

              <!-- Second Col -->
              <div class="col-lg-8 col-md-8">

                  <!--Map container-->
                  <div id="map-container" class="z-depth-1-half map-container" style="width: 800px;height: 400px">
                    <iframe src="https://www.google.com.ua/maps/embed?pb=!1m14!1m12!1m3!1d1068.1473964808833!2d30.52247533282333!3d50.4504697756138!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1suk!2sua!4v1497024711819" width="800" height="400" frameborder="0" style="border:0"></iframe>
                  </div>

              </div>
              <!-- /.Second Col -->
              
          </div>
          <!-- /.Adress Information -->    
          
          <!-- Contact Form -->
          <div class="row pt-3">

              <div class="col-lg-12">

                  <h1 class="section-heading">З'явилися запитання чи пропозиції? Надсилайте</h1>

                  <form>
                      
                      <!-- First row -->
                      <div class="row">
                          
                          <!-- First column -->
                          <div class="col-md-6">
                              <div class="md-form">
                                  <div class="md-form">
                                      <input type="text" id="form41" class="form-control">
                                      <label for="form41" class="">Ваше ім'я</label>
                                  </div>
                              </div>
                          </div>

                          <!-- Second column -->
                          <div class="col-md-6">
                              <div class="md-form">
                                  <div class="md-form">
                                      <input type="text" id="form52" class="form-control">
                                      <label for="form52" class="">Ваш email</label>
                                  </div>
                              </div>
                          </div>
                          
                      </div>
                      <!-- /.First row -->

                      <!-- Second row -->
                      <div class="row">
                          
                          <div class="col-md-12">
                              <div class="md-form">
                                  <input type="text" id="form51" class="form-control">
                                  <label for="form51" class="">Тема</label>
                              </div>
                          </div>
                          
                      </div>
                      <!-- /.Second row -->

                      <!-- Third row -->
                      <div class="row">
                          
                          <!-- First column -->
                          <div class="col-md-12">

                              <div class="md-form">
                                  <textarea type="text" id="form76" class="md-textarea"></textarea>
                                  <label for="form76">Повідомлення</label>
                              </div>

                          </div>
                          
                      </div>
                      <!-- /.Third row -->
                      
                  </form>

                  <div class="center-on-small-only text-center">
                      <a class="btn btn-primary">Відправити</a>
                  </div>

              </div>

          </div>
          <!-- /.Contact Form -->
              
      </section>
      <!-- /.Contact Information -->

  </div>
</main>